<div class="checkbox-input-area <%= checkbox.topClass %>">
  <% checkbox.boxes.forEach(function(item) { %>
  <span class="checkbox block">
    <label for="<%= item.id %>" class="check-radio-label <%= item.class %>">
      <%- item.label %>
    <input class="js-error checkbox-field" id="<%= item.id %>" name="<%= item.name %>" type="checkbox"
      <%if ( item.dataRqName ) { %> data-reqname="<%= item.dataRqName %>" <% } %>
      <%= item.required %>
      <%= item.checked %> />
    <span class="fake-input"></span>
    </label>
  </span>

  <% }); %>
</div>
