<div class="form-check checkbox-area mb-2 mr-sm-2 mb-sm-0 <%= checkbox.topClass %>">
  <% checkbox.boxes.forEach(function(item) { %>
   <label for="<%= item.id %>" class="check-radio-label form-check-label <%= item.class %>">
     <input class="js-validate form-check-input"
      id="<%= item.id %>"
      name="<%= item.name %>"
      <%if ( item.dataFieldName ) { %> data-fieldName="<%= item.dataFieldName %>" <% } %>
      <%= item.required %>
      <%= item.checked %>
      type="checkbox" />

      <%- item.label %>
   </label>
  <% }); %>
 </div>
