<div class="text-input-area <%= input.topClass %> ">
  <label for="<%= input.inputId %>" id="<%= input.id %>" class="<%= input.labelClass %>"><%= input.labelText %></label>

  <input
    id="<%= input.inputId %>"
    aria-labelledby="<%= input.id %> <%= input.descId %>"
    class="text-field js-validate <%= input.class %>"
    name="<%= input.name %>"
    type="<%= input.type %>"
    placeholder="<%= input.placeholder %>"
    <%if ( input.value ) { %> value="<%= input.value %>" <% } %>
    <%if ( input.pattern ) { %> pattern="<%= input.pattern %>" <% } %>
    <%if ( input.dataFieldName ) { %> data-fieldName="<%= input.dataFieldName %>" <% } %>
    <%if ( input.title ) { %> data-title="<%= input.title %>" <% } %>
    <%if ( input.readOnly ) { %> <%= input.readOnly %> <% } %>
    <%if ( input.minlength ) { %> minlength="<%= input.minlength %>" <% } %>
    <%if ( input.maxlength ) { %> maxlength="<%= input.maxlength %>" <% } %>
    <%= input.required %> />

  <%if ( input.descText ) { %>
    <div class="input-desc" id="<%= input.descId %>">
      <p><%- input.descText %></p>
    </div>
  <% } %>
</div>
