<ul class="req-checker col-xs-12 pd hide"
  aria-live="polite" aria-relevant="additions" aria-atomic="true" role="status"
  id="<%= info.roleId %>">
    <li class="req-checker_criteria js-allPwChecked js-PwChar">
      <span class="icon req-checker_criteria_icon icon--green-check"></span>
      <span aria-controls="<%= info.roleId %>" class="js-char js-submitText">At least <strong>8 characters</strong></span>
      <span aria-controls="<%= info.roleId %>" class="is-hidden js-char js-submitText">Requirement met: <strong>8 characters</strong></span>
      <span aria-controls="<%= info.roleId %>" class="is-hidden js-char js-submitText">Requirement not met: <strong>8 characters</strong></span>
    </li>

    <li class="req-checker_criteria js-allPwChecked js-PwCap">
      <span class="icon req-checker_criteria_icon icon--green-check"></span>
      <span aria-controls="<%= info.roleId %>" class="js-submitText js-cap">At least <strong>1 capital letter</strong></span>
      <span aria-controls="<%= info.roleId %>" class="js-submitText js-cap is-hidden">Requirement met: <strong>1 capital letter</strong></span>
      <span aria-controls="<%= info.roleId %>" class="js-submitText js-cap is-hidden">Requirement not met: <strong>1 capital letter</strong></span>
    </li>

    <li class="req-checker_criteria js-allPwChecked js-PwLower">
      <span class="icon req-checker_criteria_icon icon--green-check"></span>
      <span aria-controls="<%= info.roleId %>" class="js-lower js-submitText">At least <strong>1 lowercase letter</strong></span>
      <span aria-controls="<%= info.roleId %>" class="is-hidden js-lower js-submitText">Requirement met: <strong>1 lowercase letter</strong></span>
      <span aria-controls="<%= info.roleId %>" class="is-hidden js-lower js-submitText">Requirement not met: <strong>1 lowercase letter</strong></span>
    </li>

    <li class="req-checker_criteria js-allPwChecked js-PwNum">
      <span class="icon req-checker_criteria_icon icon--green-check"></span>
      <span aria-controls="<%= info.roleId %>" class="js-num js-submitText">At least <strong>1 number</strong></span>
      <span aria-controls="<%= info.roleId %>" class="is-hidden js-num js-submitText">Requirement met: <strong>1 number</strong></span>
      <span aria-controls="<%= info.roleId %>" class="is-hidden js-num js-submitText">Requirement not met: <strong>1 number</strong></span>

    </li>

    <li class="req-checker_criteria js-pwCharCri charCri">
      <span class="js-submitText js-sp-char">Do not use <strong>these special characters:
        <span class="sr-only">period</span>
        &#46; &lt; &#42; &#37;</strong>
      </span>
      <span class="js-submitText is-hidden js-sp-char">Requirement met: do not use <strong>these special characters:
        <span class="sr-only">period</span>
        &#46; &lt; &#42; &#37;</strong>
      </span>
      <span class="js-submitText is-hidden js-sp-char">Requirement not met: do not use <strong>these special characters:
        <span class="sr-only">period</span>
        &#46; &lt; &#42; &#37;</strong>
      </span>
    </li>
</ul>
