<fieldset class="radio-input-area js-radio">
  <legend class="radio-label"><%= radioBtn.radioTopLabel %></legend>
  <% radioBtn.radio.forEach(function(item) { %>
  <span class="radio-button js-validate <%= item.class %>">
    <label for="<%= item.radioId %>" class="check-radio-label js-validate"><%- item.labelText %>
    <!-- <p><%- item.labelText %></p> -->

    <input
    name="<%= item.radioName %>"
    class="radio-field js-validate <%= item.radioClass %>"
    id="<%= item.radioId %>"
    type="radio"
    value="<%= item.radioId %>"
    <%if ( item.dataFieldName ) { %> data-fieldName="<%= item.dataFieldName %>" <% } %>
    <%= item.required %> />
    <span class="fake-input"></span>
    </label>
  </span>

  <% }) %>
</fieldset>
