<div class="stepper-group">
  <span class="stepper <%= stepper.activeOne %>">1</span>
  <span class="stepper-divider <%= stepper.dividerOneActive %>"></span>
  <span class="stepper <%= stepper.activeTwo %>">2</span>

  <%if ( stepper.three ) { %>
  <span class="stepper-divider <%= stepper.dividerTwoActive %>"></span>
    <span class="stepper <%= stepper.activeThree %>">3</span>
  <% } %>

</div>
